body{
    background-image: url(background.jpg);
    background-size: cover;

    /* background-color: darksalmon; */
}
.table{
    background-color: rgb(250, 249, 249);
    width: 400px;
    height: 100rem;

}
.list li{
    list-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.5rem;
}
a:hover{
    font-size: 30px;
    color: rgb(7, 7, 7);
    background-color: rgb(248, 223, 238);
}
h1{
    text-align: center;
    color: black;
}
.row{
    display: flex;
    flex-direction: row;
}
.bienv{
    margin-left: 300px;
    margin-top: 200px;
    font-size: 1.5rem;
}
.formation{
    margin-left: 130px;
    margin-top: 200px;
}
p{
    text-align: center;
    font-size: 2rem;
}
.expr{
margin-top: 200px;
margin-left: 300px;
font-size: 2.5rem;
}
.comp{
    font-size: 3rem;
    margin-top: 100px;
    margin-left: 300px;
}
.lang{
    font-size: 3.5rem;
    margin-top: 150px;
    margin-left: 350px;

}
.contc{
    font-size: 3rem;
    margin-top: 100px;
    margin-left: 300px;
    text-align: left;
}